In [29]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('dataset/Spenser_1_7_remove_v22_treshold.tsv',
                 delimiter='\t')
df.head()

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,OVERDUEDAYS
0,100000136,2017-05-01,5,0,,,Employee 44,Team 1,NaN,NaN,NaN,,,,,,,
1,100000136,2017-05-04,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,,,,
2,100000136,2017-05-08,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,,,,
3,100000136,2017-05-11,5,1,1,,Employee 44,Team 1,90.987,NaN,90.987,,,,ok,,ok,
4,100000136,2017-05-12,5,,,,Employee 44,Team 1,NaN,79.498,90.987,,,,,,,

In [10]:
expert_vectors = dict()
unique_customers = set(df.CustomerID)

In [33]:
temp = df[df['CustomerID']==100000136]
print(np.mean(temp.SAPECoeficient))
print(np.std(temp.SAPECoeficient))

94.5498947368421
1.8566954580672068

In [ ]:
for customer in unique_customers:
    df_customer = df[df.CustomerID == customer]
    no_planned_visits = len(df_customer[df_customer.PerformanceEvaluationPlanned == '1'])
    no_executed_visits = len(df_customer[df_customer.PerformanceEvaluationPlanned == '1'])
    no_not_executed_visits = no_planned_visits - no_executed_visits
    no_ad_hoc
    mean_sape = np.mean(df_customer.SAPECoeficient)
    std_dev_sape = np.std(df_customer.SAPECoeficient)