### Проверка колку пати е посетена секоја продавница во 4-4-5 месец

In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dataset/Spenser_1_5_standardize_coefficients.tsv',
                 delimiter='\t')
df

,CustomerID,Calendarday,month,PerformanceEvaluationPlanned,PerformanceEvaluationExecuted,PerformanceEvaluationAdHoc,TERRID,SAPECCSalesGroup,SAPECoeficient,APECoeficient,FPECoeficient,SAMEDAYVISIT,OVERDUE,UNDERDUE,OK,NOTOK,STATUS,V22,OVERDUEDAYS,TRESHOLD
0,100000136,2017-05-01,5,0,,,Employee 44,Team 1,,,,,,,,,,,,
1,100000136,2017-05-04,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
2,100000136,2017-05-08,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
3,100000136,2017-05-11,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,ok,,ok,ok,,",15"
4,100000136,2017-05-12,5,,,,Employee 44,Team 1,,79.498,90.987,,,,,,,not ok,,",15"
5,100000136,2017-05-15,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
6,100000136,2017-05-18,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
7,100000136,2017-05-22,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
8,100000136,2017-05-25,5,1,1,,Employee 44,Team 1,90.987,,90.987,,,,,,,not ok,,",15"
9,100000136,2017-05-29,6,1,1,,Employee 44,Team 1,90.987,,92.633,,,,,,,not ok,,",15"
10,100000136,2017-06-01,6,1,1,,Employee 44,Team 1,90.987,,92.633,,,,,,,not ok,,",15"
11,100000136,2017-06-05,6,1,1,,Employee 44,Team 1,90.987,,92.633,,,,,,,not ok,,",15"
12,100000136,2017-06-08,6,1,1,,Employee 44,Team 1,90.987,,92.633,,,,,,,not ok,,",15"
13,100000136,2017-06-12,6,1,1,,Employee 44,Team 1,92.862,,92.633,,,,,,,not ok,,",15"
14,100000136,2017-06-15,6,1,1,,Employee 44,Team 1,94.75,,92.633,,,,,,,not ok,,",15"
15,100000136,2017-06-19,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
16,100000136,2017-06-22,6,1,1,,Employee 44,Team 1,94.75,,92.633,,,,,,,not ok,,",15"
17,100000136,2017-06-26,6,0,,,Employee 44,Team 1,,,,,,,,,,,,
18,100000136,2017-06-29,6,1,1,,Employee 44,Team 1,94.75,,92.633,,,,,,,not ok,,",15"
19,100000136,2017-07-03,7,1,1,,Employee 44,Team 1,94.75,,95.375,,,,,,,not ok,,",15"
20,100000136,2017-07-06,7,1,1,,Employee 44,Team 1,94.75,,95.375,,,,,,,not ok,,",15"
21,100000136,2017-07-10,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
22,100000136,2017-07-13,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
23,100000136,2017-07-17,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
24,100000136,2017-07-20,7,0,,,Employee 44,Team 1,,,,,,,,,,,,
25,100000136,2017-07-24,7,1,1,,Employee 44,Team 1,96,,95.375,,,,,,,not ok,,",15"
26,100000136,2017-07-27,7,1,1,,Employee 44,Team 1,96,,95.375,,,,,,,not ok,,",15"
27,100000136,2017-07-31,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
28,100000136,2017-08-03,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
29,100000136,2017-08-07,8,1,1,,Employee 44,Team 1,96,,96,,,,,,,not ok,,",15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140167,100024705,2017-10-25,10,1,1,,Employee 57,Team 7,62.81,,59.87,,,,,,,not ok,,",15"
140168,100024705,2017-11-01,11,1,1,,Employee 57,Team 7,57.86,,64.21,,,,,,,not ok,,",15"
140169,100024705,2017-11-08,11,1,1,,Employee 57,Team 7,66.327,,64.21,,,,,,,not ok,,",15"
140170,100024705,2017-11-15,11,1,1,,Employee 57,Team 7,66.327,,64.21,,,,,,,not ok,,",15"
140171,100024705,2017-11-22,11,1,1,,Employee 57,Team 7,66.327,,64.21,,,,,,,not ok,,",15"
140172,100024705,2017-11-29,12,1,1,,Employee 57,Team 7,53.527,,56.184,,,,,,,not ok,,",15"
140173,100024705,2017-12-06,12,0,,,Employee 57,Team 7,,,,,,,,,,,,
140174,100024705,2017-12-13,12,1,1,,Employee 57,Team 7,44.641,,56.184,,,,,,,not ok,,",15"
140175,100024705,2017-12-20,12,1,1,,Employee 57,Team 7,46.049,,56.184,,,,,,,not ok,,",15"
140176,100024705,2017-12-27,12,1,1,,Employee 57,Team 7,80.52,,56.184,,,,,,,not ok,,",15"
140177,100024706,2017-08-16,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140178,100024706,2017-08-23,8,0,,,Employee 59,Team 7,,,,,,,,,,,,
140179,100024706,2017-08-30,9,1,1,,Employee 59,Team 7,40.59,,43.89,,,,,,,not ok,,",15"
140180,100024706,2017-09-06,9,1,1,,Employee 59,Team 7,40.59,,43.89,,,,,,,not ok,,",15"
140181,100024706,2017-09-13,9,1,1,,Employee 59,Team 7,42.09,,43.89,,,,,,,not ok,,",15"
140182,100024706,2017-09-20,9,0,,,Employee 59,Team 7,,,,,,,,,,,,
140183,100024706,2017-09-27,9,1,1,,Employee 59,Team 7,52.29,,43.89,,,,,,,not ok,,",15"
140184,100024706,2017-10-04,10,1,1,,Employee 59,Team 7,52.29,,55.223,,,,,,,not ok,,",15"
140185,100024706,2017-10-11,10,0,,,Employee 59,Team 7,,,,,,,,,,,,
140186,100024706,2017-10-18,10,1,1,,Employee 59,Team 7,52.29,,55.223,,,,,,,not ok,,",15"
140187,100024706,2017-10-25,10,1,1,,Employee 59,Team 7,61.09,,55.223,,,,,,,not ok,,",15"
140188,100024706,2017-11-01,11,1,1,,Employee 59,Team 7,62.89,,52.384,,,,,,,not ok,,",15"
140189,100024706,2017-11-08,11,1,1,,Employee 59,Team 7,40.815,,52.384,,,,,,,not ok,,",15"
140190,100024706,2017-11-15,11,1,1,,Employee 59,Team 7,40.815,,52.384,,,,,,,not ok,,",15"
140191,100024706,2017-11-22,11,1,1,,Employee 59,Team 7,65.015,,52.384,,,,,,,not ok,,",15"
140192,100024706,2017-11-29,12,0,,,Employee 59,Team 7,,,,,,,,,,,,
140193,100024706,2017-12-06,12,1,1,,Employee 59,Team 7,39.578,,44.328,,,,,,,not ok,,",15"
140194,100024706,2017-12-13,12,1,1,,Employee 59,Team 7,39.578,,44.328,,,,,,,not ok,,",15"
140195,100024706,2017-12-20,12,1,1,,Employee 59,Team 7,39.578,,44.328,,,,,,,not ok,,",15"
140196,100024706,2017-12-27,12,1,1,,Employee 59,Team 7,58.578,,44.328,,,,,,,not ok,,",15"

#### ...

In [3]:
cols = ['SAPECCSalesGroup', 'TERRID', 'CustomerID', 'month', 'Visits']

In [4]:
df_new = pd.DataFrame(columns=cols)

for team in set(df['SAPECCSalesGroup']):
    t1 = df[df['SAPECCSalesGroup'] == team]
    
    for employee in set(t1['TERRID']):
        t2 = t1[t1['TERRID'] == employee]
    
        for customer in set(t2['CustomerID']):
            t3 = t2[t2['CustomerID'] == customer]

            for month in set(t3['month']):
                s = set(t3[t3['month'] == month]['APECoeficient'])
                visits = len(s) - (' ' in s)

                df_new = df_new.append(pd.DataFrame([[team, employee, customer,
                                                      month, visits]], columns=cols), )

In [5]:
df_new

   SAPECCSalesGroup       TERRID CustomerID month Visits
0           Team 12  Employee 64  100018178     8      0
0           Team 12  Employee 64  100018178     9      0
0           Team 12  Employee 64  100018178     7      0
0           Team 12  Employee 64  100005382     5      0
0           Team 12  Employee 64  100005382     6      0
0           Team 12  Employee 64  100005382     7      0
0           Team 12  Employee 64  100005382     8      0
0           Team 12  Employee 64  100005382     9      0
0           Team 12  Employee 64  100005382    10      1
0           Team 12  Employee 64  100005382    11      1
0           Team 12  Employee 64  100005382    12      0
0           Team 12  Employee 64  100008970     5      0
0           Team 12  Employee 64  100008975     5      0
0           Team 12  Employee 64  100008975     6      0
0           Team 12  Employee 64  100008975     7      0
0           Team 12  Employee 64  100008977     5      0
0           Team 12  Employee 64  100008977     6      0
0           Team 12  Employee 64  100008977     7      0
0           Team 12  Employee 64  100008977     8      0
0           Team 12  Employee 64  100008977     9      1
0           Team 12  Employee 64  100008977    10      0
0           Team 12  Employee 64  100008977    11      0
0           Team 12  Employee 64  100008977    12      1
0           Team 12  Employee 64  100005399     8      0
0           Team 12  Employee 64  100005399     9      0
0           Team 12  Employee 64  100005399     7      0
0           Team 12  Employee 64  100023835     6      1
0           Team 12  Employee 64  100023835     7      0
0           Team 12  Employee 64  100023835     8      0
0           Team 12  Employee 64  100023835     9      1
..              ...          ...        ...   ...    ...
0            Team 8  Employee 15  100002722     5      0
0            Team 8  Employee 15  100002722     6      1
0            Team 8  Employee 15  100002722     7      0
0            Team 8  Employee 15  100007840     5      0
0            Team 8  Employee 15  100002727     5      0
0            Team 8  Employee 15  100017063     5      0
0            Team 8  Employee 15  100017063     6      0
0            Team 8  Employee 15  100002729     5      0
0            Team 8  Employee 15  100002729     6      1
0            Team 8  Employee 15  100002729     7      1
0            Team 8  Employee 15  100002729     8      1
0            Team 8  Employee 15  100002729     9      1
0            Team 8  Employee 15  100002729    10      1
0            Team 8  Employee 15  100002729    11      1
0            Team 8  Employee 15  100002729    12      0
0            Team 8  Employee 15  100017064     7      0
0            Team 8  Employee 15  100023244     5      0
0            Team 8  Employee 15  100023244     6      1
0            Team 8  Employee 15  100023244     7      0
0            Team 8  Employee 15  100017635     5      0
0            Team 8  Employee 15  100017635     6      0
0            Team 8  Employee 15  100017635     7      0
0            Team 8  Employee 15  100022762     5      1
0            Team 8  Employee 15  100022762     6      0
0            Team 8  Employee 15  100022762     7      1
0            Team 8  Employee 15  100022762     8      1
0            Team 8  Employee 15  100022762     9      1
0            Team 8  Employee 15  100022762    10      0
0            Team 8  Employee 15  100022762    11      0
0            Team 8  Employee 15  100022762    12      1

[37058 rows x 5 columns]

#### Подредување

In [6]:
df_new = df_new.sort_values(cols[:-1])

In [7]:
df_new

   SAPECCSalesGroup       TERRID CustomerID month Visits
0            Team 1  Employee 41  100000146     5      0
0            Team 1  Employee 41  100000146     6      0
0            Team 1  Employee 41  100000146     7      1
0            Team 1  Employee 41  100000146     8      0
0            Team 1  Employee 41  100000146     9      1
0            Team 1  Employee 41  100000146    10      0
0            Team 1  Employee 41  100000146    11      1
0            Team 1  Employee 41  100000146    12      1
0            Team 1  Employee 41  100000902     5      1
0            Team 1  Employee 41  100000902     6      0
0            Team 1  Employee 41  100000902     7      1
0            Team 1  Employee 41  100000902     8      0
0            Team 1  Employee 41  100000902     9      1
0            Team 1  Employee 41  100000902    10      0
0            Team 1  Employee 41  100000902    11      1
0            Team 1  Employee 41  100000902    12      0
0            Team 1  Employee 41  100000953     5      0
0            Team 1  Employee 41  100000953     6      1
0            Team 1  Employee 41  100000953     7      0
0            Team 1  Employee 41  100000953     8      0
0            Team 1  Employee 41  100000953     9      0
0            Team 1  Employee 41  100000953    10      0
0            Team 1  Employee 41  100000953    11      0
0            Team 1  Employee 41  100000953    12      0
0            Team 1  Employee 41  100000954     5      1
0            Team 1  Employee 41  100000954     6      0
0            Team 1  Employee 41  100000954     7      1
0            Team 1  Employee 41  100000954     8      0
0            Team 1  Employee 41  100000954     9      1
0            Team 1  Employee 41  100000954    10      0
..              ...          ...        ...   ...    ...
0            Team 9   Employee 9  100023834     6      1
0            Team 9   Employee 9  100023834     7      1
0            Team 9   Employee 9  100023834     8      0
0            Team 9   Employee 9  100023834     9      1
0            Team 9   Employee 9  100023834    10      0
0            Team 9   Employee 9  100024024     8      0
0            Team 9   Employee 9  100024024     9      0
0            Team 9   Employee 9  100024024    10      0
0            Team 9   Employee 9  100024024    11      1
0            Team 9   Employee 9  100024024    12      0
0            Team 9   Employee 9  100024054     8      1
0            Team 9   Employee 9  100024054     9      0
0            Team 9   Employee 9  100024054    10      0
0            Team 9   Employee 9  100024054    11      0
0            Team 9   Employee 9  100024054    12      0
0            Team 9   Employee 9  100024113     9      0
0            Team 9   Employee 9  100024113    10      0
0            Team 9   Employee 9  100024113    11      0
0            Team 9   Employee 9  100024113    12      0
0            Team 9   Employee 9  100024133     9      0
0            Team 9   Employee 9  100024133    10      1
0            Team 9   Employee 9  100024133    11      1
0            Team 9   Employee 9  100024133    12      1
0            Team 9   Employee 9  100024136     9      0
0            Team 9   Employee 9  100024136    10      0
0            Team 9   Employee 9  100024136    11      1
0            Team 9   Employee 9  100024136    12      0
0            Team 9   Employee 9  100024248    11      0
0            Team 9   Employee 9  100024248    12      0
0            Team 9   Employee 9  100024320    12      0

[37058 rows x 5 columns]

#### Снимање на обработените податоци

In [8]:
df_new.to_csv('dataset/Spenser_2_visits_per_445_month.tsv',
              sep='\t', index=None)